<div class="container">

    <h1 class="my-5 text-center">ECCO A TE UN COCKTAIL A CASO</h1>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col"></div>
        <div class="col">
          <div class="card h-100" *ngFor="let drink of randomDrink">
            <img src="{{drink.strDrinkThumb}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">{{drink.strDrink.toUpperCase()}}</h4>
              <hr>
              <h5>Ingredienti:</h5>
              <h6 *ngIf="drink.strIngredient1">{{drink.strIngredient1}}</h6>
              <h6 *ngIf="drink.strIngredient2"> - {{drink.strIngredient2}}</h6>
              <h6 *ngIf="drink.strIngredient3"> - {{drink.strIngredient3}}</h6>
              <h6 *ngIf="drink.strIngredient4"> - {{drink.strIngredient4}}</h6>
              <h6 *ngIf="drink.strIngredient5"> - {{drink.strIngredient5}}</h6>
              <h6 *ngIf="drink.strIngredient6"> - {{drink.strIngredient6}}</h6>
              <h6 *ngIf="drink.strIngredient7"> - {{drink.strIngredient7}}</h6>
              <h6 *ngIf="drink.strIngredient8"> - {{drink.strIngredient8}}</h6>
              <h6 *ngIf="drink.strIngredient9"> - {{drink.strIngredient9}}</h6>
              <h6 *ngIf="drink.strIngredient10"> - {{drink.strIngredient10}}</h6>
              <h6 *ngIf="drink.strIngredient11"> - {{drink.strIngredient11}}</h6>
              <h6 *ngIf="drink.strIngredient12"> - {{drink.strIngredient12}}</h6>
              <h6 *ngIf="drink.strIngredient13"> - {{drink.strIngredient13}}</h6>
              <h6 *ngIf="drink.strIngredient14"> - {{drink.strIngredient14}}</h6>
              <h6 *ngIf="drink.strIngredient15"> - {{drink.strIngredient15}}</h6>
              <hr>
              <p class="card-text">{{drink.strInstructionsIT}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{drink.strCategory}}</small>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>

      <div class="row my-5">
        <div class="col-4"></div>
        <div class="col-4 text-center"><button type="button" class="btn btn-primary btn-lg" (click)="refreshPage()">Mostrami un altro cocktail a caso</button></div>
        <div class="col-4"></div>
      </div>
    
    </div>
