<div class="container">

  <h1 class="my-5 text-center" *ngIf="drinksByName">LISTA DEI DRINK CONTENTENTI LA PAROLA CERCATA</h1>
  <h1 class="my-5 text-center" style="color:red" *ngIf="!drinksByName">NON CI SONO RISULTATI PER LA RICERCA EFFETTUATA</h1>
  
  <div class="row">

    
    <div class="col-lg-4 col-sm-6" *ngFor="let drink of drinksByName">
      
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{drink.strDrinkThumb}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              
              <h5 class="card-title">{{drink.strDrink}}</h5>

              <p class="card-text">
                <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#a{{drink.idDrink}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Visualizza ingredienti
                </a>
              </p>
              <div class="collapse" id="a{{drink.idDrink}}">
                <div class="card card-body mb-3">
                  <h6 *ngIf="drink.strIngredient1"> - {{drink.strIngredient1}}</h6>
                  <h6 *ngIf="drink.strIngredient2"> - {{drink.strIngredient2}}</h6>
                  <h6 *ngIf="drink.strIngredient3"> - {{drink.strIngredient3}}</h6>
                  <h6 *ngIf="drink.strIngredient4"> - {{drink.strIngredient4}}</h6>
                  <h6 *ngIf="drink.strIngredient5"> - {{drink.strIngredient5}}</h6>
                  <h6 *ngIf="drink.strIngredient6"> - {{drink.strIngredient6}}</h6>
                  <h6 *ngIf="drink.strIngredient7"> - {{drink.strIngredient7}}</h6>
                  <h6 *ngIf="drink.strIngredient8"> - {{drink.strIngredient8}}</h6>
                  <h6 *ngIf="drink.strIngredient9"> - {{drink.strIngredient9}}</h6>
                  <h6 *ngIf="drink.strIngredient10"> - {{drink.strIngredient10}}</h6>
                  <h6 *ngIf="drink.strIngredient11"> - {{drink.strIngredient11}}</h6>
                  <h6 *ngIf="drink.strIngredient12"> - {{drink.strIngredient12}}</h6>
                  <h6 *ngIf="drink.strIngredient13"> - {{drink.strIngredient13}}</h6>
                  <h6 *ngIf="drink.strIngredient14"> - {{drink.strIngredient14}}</h6>
                  <h6 *ngIf="drink.strIngredient15"> - {{drink.strIngredient15}}</h6>
                </div>
              </div>

              <p class="card-text">
                <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#a{{drink.idDrink+1}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Visualizza istruzioni
                </a>
              </p>
              <div class="collapse" id="a{{drink.idDrink+1}}">
                <div class="card card-body">
                  {{drink.strInstructionsIT}}
                </div>

              </div>
              <p class="card-text"><small class="text-muted">{{drink.strCategory}}</small></p>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  

  </div>


</div>

<div class="container">

  
  